<h3>Dear <%= @user.name %>,</h3>

<h4>Your booking for the following tour has been updated:</h4>

<ul>
  <li>What: <%= @tour.name %></li>
  <li>When: <%= @schedule.tour_start_time %></li>
  <li>Party Size: <%= @booking.booking_size %></li>
  <li>Your Guide: <%= @tour_guide.name %></li>
  <li>Meet Your Tour Guide At: <%= @tour.rendezvous_point %> </li>
</ul>

<p>Should you need to make any further adjustments to your booking, please log in to your profile on Rendezyou. If you need to get in touch with your tour guide, you can reach them at <%= @tour_guide.email %> or <%= @tour_guide.phone %>.</p>

<h4>Enjoy your tour!</h4>

<h3>The Rendezyou team</h3>
