<h3>Dear <%= @tour_guide.name %>,</h3>

<h4>Someone has booked your <%= @tour.name %> tour!</h4>

<ul>
  <li>When: <%= @schedule.tour_start_time %></li>
  <li>Party Size: <%= @tour_guide.name %></li>
  <li>Remaining Capacity: <%= @schedule.current_capacity %> </li>
</ul>

<h4>Enjoy your tour!</h4>

<h3>The Rendezyou team</h3>
