
  <h3 class="tour-booking-title">
    currently booking:
    <span class="to-capitalize"><%= @tour.name %></span> </h3>

  <p> <b>Your tour guide: </b><%= User.find(@tour.user_id).name %> </p>

  <p> <b>About the tour: </b><%= @tour.description %> </p>


  <%= form_for ([@tour,@schedule,@booking]) do |f|%>

  <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@booking.errors.count, "error") %> prohibited this tour from being saved:</h3>

        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="booking-schedule-details">

    </div>

    <div class="booking_size">
      <%= f.label :booking_size,"Number of people in your group:" %>
      <%= f.number_field :booking_size, min: 1, max: @schedule.max_capacity, step:1 %>

    </div>

    <div class="submit">
      <%= f.submit "Submit booking request", :class=>"btn btn-primary" %>
      <%= link_to "Cancel", tour_path(@tour), :class=>"btn btn-detault" %>
    </div>

  <% end %>
