<div class="yield">

  <% if @user.errors.any? %>
  <div id="error_message">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li class="error_message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="main_passport">
      <%= form_for @user, html: { multipart: true, :class => "form-horizontal user_passport_container"} do |f| %>


      <div class="col-sm-2">
      </div>

      <div class="col-sm-5">


        <div class="form-group has-success has-feedback">
          <%= f.label :name, class:"control-label col-sm-3"%>
          <div class="col-sm-9">
            <%= f.text_field :name, class:"form-control", id:"inputSuccess3"%>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputSuccess3Status" class="sr-only"></span>
          </div>
        </div>

        <div class="form-group has-success has-feedback">
          <%= f.label :username, class:"control-label col-sm-3"%>
          <div class="col-sm-9">
            <%= f.text_field :username, class:"form-control", id:"inputSuccess3"%>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputSuccess3Status" class="sr-only"></span>
          </div>
        </div>

        <div class="form-group has-success has-feedback">
          <%= f.label :email, class:"control-label col-sm-3"%>
          <div class="col-sm-9">
            <%= f.text_field :email, class: "form-control", id:"inputSuccess3"%>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputSuccess3Status" class="sr-only"></span>
          </div>
        </div>

        <div class="form-group has-success has-feedback">
          <%= f.label :phone, class:"control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.telephone_field :phone, class:"form-control", id:"inputSuccess3"%>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputSuccess3Status" class="sr-only"></span>
          </div>
        </div>

        <div class="form-group has-success has-feedback">
          <%= f.label :password, class:"control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.password_field :password, class:"form-control", id:"inputSuccess3"%>
          </div>
        </div>

        <div class="form-group has-success has-feedback">
          <%= f.label :password_confirmation, class:"control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.password_field :password_confirmation, class:"form-control", id:"inputSuccess3"%>
          </div>
        </div>

        <div class="form-group has-success has-feedback extra_avatar_to_hide">
          <%= f.label :photo, class:"control-label col-sm-3" %>
          <%= image_tag ("panda_avatar.png"), :class=>"user_new_signin_avatar" %>
          <%= f.file_field :avatar, :class=>"extra_avatar_to_hide_padding" %>
        </div>

      <% if new_user_path%>
        <%= f.submit 'Sign me In', :class=>"btn btn-danger btn-lg active", :id=>"signupbutton" %>
      <% elsif edit_user_path%>
        <%= f.submit 'Save', :class=>"btn btn-danger btn-lg active", :id=>"signupbutton" %>
      <% end %>

      </div>

      <div class="col-sm-1 responsive_middle_none">
      </div>

      <div class="col-sm-3 responsive_none">

        <%= image_tag ("panda_avatar.png"), :class=>"user_new_signin_avatar" %>
        <%= f.file_field :avatar %>

      </div>

      <div class="col-sm-1 responsive_none">
      </div>

      <%end%>


  </div>
</div>
