<div class="yield">

<%=form_for @user, :html => {:class => "form-horizontal"} do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h4>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group has-success has-feedback">
    <%= f.label :name, class:"control-label col-sm-2"%>
    <div class="col-sm-5">
      <%= f.text_field :name, class:"form-control", id:"inputSuccess3"%>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="inputSuccess3Status" class="sr-only">(success)</span>
    </div>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :username, class:"control-label col-sm-2"%>
    <div class="col-sm-5">
      <%= f.text_field :username, class:"form-control", id:"inputSuccess3"%><br><br>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="inputSuccess3Status" class="sr-only">(success)</span>
    </div>
  </div>

    <div class="form-group has-success has-feedback">
      <%= f.label :email%>
    <%= f.text_field :email%>
  </div>

  <div class="field">
    <%= f.label :phone%>
    <%= f.telephone_field :phone%>
  </div>

  <div class="field">
    <%= f.label :password%>
    <%= f.password_field :password%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
  </div>


  <div class="field">
    <%= f.label :picture%>
    <%= f.text_field :picture%>
  </div>


    <%= f.submit %>

<%end%>

</div>

</div>
