<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->



<div class="yield">


<h3 class="sub_heading">Hello <%= @user.name %>! Here are your Guided Tours!</h3>

<% if @tours_created.empty? %>
  <p>You don't have any guided tours yet! Click <%= link_to "here", new_tour_url %> to create one</p>
<% else %>
  <div class="tour_container">
  <h4 class="creat">Click <%= link_to "here", new_tour_url %> to create more tours</h4>
  <% @tours_created.each do |tour| %>
    <% if current_user.id == tour.user_id %>
        <h3><%= tour.name %></h3>
        <%= link_to "Edit Tour", edit_tour_url(tour.id) %><br>
        <%= tour.description%>
        <h4>Schedule:</h4>
      <% if tour.schedules.empty? %>
      <p>You don't have any dates scheduled for this tour! Click <%= link_to "here", new_tour_schedule_path(tour) %> to schedule some! </p>
      <% else %>
      <ul>
      <% tour.schedules.each do |t_s| %>
      <li><%= "#{t_s.tour_session}, #{t_s.current_capacity} people booked, space left: #{t_s.max_capacity - t_s.current_capacity}" %></li>
      <% end %>
    </ul>
    <%= link_to "Add another date", new_tour_schedule_path(tour) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="tour">

<h3 class="sub_heading">My Booked Tours</h3>
  <% if @bookings.empty? %>
    <p>You don't have any tours booked yet! Click <%= link_to "here", tours_url %> to find a tour to book!</p>
  <% else %>
    <% @tours_booked.each do |t| %>
      <% t.schedules.each do |s| %>
        <% s.bookings.each do |b| %>
          <div class="Booking-info">
            <p> Tour name: <%= link_to t.name,tour_url(t) %> </p>
            <p> Tour description: <%= t.description %> </p>
            <p> Current tour size: <%= Schedule.find(b.schedule_id).current_capacity %></p>
            <p> Tour date and time: <%= Schedule.find(b.schedule_id).tour_session %> </p>
            <p> Date I booked: <%= b.created_at.strftime("%Y %b %d") %></p>
            <p> Number of people I booked for (including myself): <%= b.booking_size %></p>
            <%= link_to "Edit Booking", edit_tour_schedule_booking_path(t,Schedule.find(b.schedule_id),b) %> | <%= link_to "Cancel Booking", tour_schedule_booking_path(t,Schedule.find(b.schedule_id),b), method: :delete, data: {confirm: "Are you sure you want to delete the?"}%>
            <p>-----------------------------------------------------</p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

</div>
