<div class="yield"></div>

<!-- Carousel -->
<div class="container-fluid" id="user-carousel-container-fluid">
  <div class="row">
    <div class="col-md-12" id="removing-right-padding">
      <div class="carousel slide" id="carousel-334026">

        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-334026">
          </li>
          <li data-slide-to="1" data-target="#carousel-334026">
          </li>
          <li data-slide-to="2" data-target="#carousel-334026">
          </li>
        </ol>

        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag("carou1-01.jpg", :class=>"")%>
            <div class="carousel-caption">
              <h4>
                City Tours
              </h4>
              <p id="sub_heading_guide_all">
                Browse through our library of fantastic City Tours
              </p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("carou2-01.jpg", :class=>"")%>
            <div class="carousel-caption">
              <h4>
                FEATURING THIS MONTH
              </h4>
              <p>
                There's always an event waiting for you.
              </p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("carou3-01.jpg", :class=>"")%>
            <div class="carousel-caption">
              <h4>
                BOOK A NEW TOUR
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>

        </div>

        <a class="left carousel-control" href="#carousel-334026" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-334026" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

      </div>
    </div>
  </div>
</div>


<!-- Entice button section -->
<div class="entice_section" id="entice_section_web">

  <div class="col-md-4">
    <%=link_to new_tour_url, class: 'btn-default entice_section_btn' do %>
    <!-- <h4>Click here to</h4> -->
    <h3>BE A TOUR GUIDE!</h3>
    <h4>Create a tour now !</h4>
    <% end %>
  </div>

  <div class="col-sm-1"></div>

  <div class="col-md-4">
    <%=link_to tours_url, class: 'btn-default entice_section_btn' do %>
    <!-- <h4>Click here to</h4> -->
    <h3>BE A TOURIST!</h3>
    <h4>Book a tour now !</h4>
    <% end %>
  </div>

</div>

<!-- User's created tours -->
<div class="container-fluid reduce_user_show_width">
  <div class="row user_created_tours">
    <div class="col-md-12 user_created_tours">
      <div class="row">

        <hr class="black">

        <% if current_user && @tours_created.empty? %>
        <div class="sub_heading_guide_all">Tours created: You have no tours created...</div>
        <div class="sub_heading_guide_all user_show_click_here_to_create_one"><%= link_to "Click here to create a new tour", new_tour_url %></div>

        <% else %>

        <div class="sub_heading_guide_all"><i class="fa fa-map-marker icon-new-tour">Here are your <span class="blue_names">Guided</span> Tours!</div>

        <% end %>

        <% @tours_created.reverse.each do |tour| %>


        <div class="col-md-3">
          <div id="thumbnail_tour_index" class="thumbnail">

            <div class="index-container-relative userneedcenter">
              <% if current_user.id == tour.user_id %>
              <%= link_to image_tag(tour.tourpic.url(:medium), :class=>"tour_pic_tourdetails"), tour_path(tour)%>
              <%= link_to image_tag("gradient-01.png", :class=>"grad2_img"), tour_path(tour)%>
              <%= link_to "EDIT", edit_tour_path(tour), :id=>"tourindexbutboth_bw" %>
              <div class="container_relative_no_break">
                <p class="tour_index_name" ><%= link_to tour.name.slice(0,1).capitalize + tour.name.slice(1..-1), tour_path(tour.id)%></p>
                <hr class="white">
                <p class="tour_index_cat"><%= tour.category%></p>
              </div>
              <% end %>
            </div><!--.index-container-relative-->

            <div class="caption" id="tourindexcaption">
              <!-- <p class="tourp"><%= tour.description %></p> -->
              <p class="tourp">
                <i class="fa fa-map-marker blue_icons" aria-hidden="true" id="i"></i>
                <span class="blue_names">RendezVous Point: </span><br>
                <%= tour.rendezvous_point %></p>
                <%= link_to "ADD TOUR POINTS", new_tour_tourpoint_path(tour), :class=>"btn btn-success btn-xs", :id=>"tourpointbut" %>
                <!-- <%= link_to "EDIT", tour_path(tour), :class=>"btn btn-success", :id=>"tourindexbut" %> -->
              </div><!--caption-->
            </div> <!--#thumbnail_tour_index-->
          </div><!--.col-md-3-->

          <% end %>

        </div><!--.row-->
      </div><!--.col-md-12 user_created_tours-->
    </div><!--.row user_created_tours-->
  </div><!--.container-fluid-->

<!-- User's Booked tours -->
<div class="container-fluid reduce_user_show_width">
  <div class="row user_created_tours">
    <div class="col-md-12 user_created_tours">
      <div class="row">

        <hr class="black">

          <% if @bookings.empty? %>
            <div class="sub_heading_guide_all">Tours booked: You have no tours booked...</div>
            <div class="sub_heading_guide_all user_show_click_here_to_create_one"><%= link_to "Click here to book a tour", tours_url %></div>
          <% else %>
            <div class="sub_heading_guide_all">Here are your <span class="blue_names">Booked</span> Tours!</div>

        <% @tours_booked.reverse.each do |t| %>
        <% t.schedules.each do |s| %>
        <% s.bookings.each do |b| %>
        <% unless b.user_id != current_user.id %>

        <div class="col-md-3">
          <div id="thumbnail_tour_index" class="thumbnail">


            <div class="index-container-relative userneedcenter">
              <%= image_tag t.tourpic.url(:medium), :class=>"tour_pic_tourdetails" %>
              <%= image_tag("gradient-01.png", :class=>"grad2_img")%>
              <div class="container_relative_no_break">
                <p class="tour_index_name" ><%= link_to t.name.slice(0,1).capitalize + t.name.slice(1..-1),tour_url(t) %></p>
                <hr class="white">
                <p class="tour_index_cat"><%= t.category%></p>
              </div><!--container_relative_no_break-->
            </div><!--.index-container-relative-->
            <div class="caption" id="tourindexcaption">
              <div class="caption_booked_height">
                <p><span class="blue_names_normal">Current tour size: </span><span class="black_names_normal"><%= Schedule.find(b.schedule_id).current_capacity %></span></p>
                <p><span class="blue_names_normal">Tour date and time: </span><br><span class="black_names_normal"><%= Schedule.find(b.schedule_id).tour_session %></span></p>
                <!-- <p> Date I booked: <%= b.created_at.strftime("%Y %b %d") %></p> -->
                <p><span class="blue_names_normal">Tour description: </span><span class="black_names_normal"><%= t.description %></span></p>
                <p><span class="blue_names_normal">Number I booked including myself: </span><span class="black_names_normal"><%= b.booking_size %></span></p>
              </div><!--caption_booked_height-->
                <hr class="black_within">
                  <%= link_to "Edit Booking", edit_tour_schedule_booking_path(t,Schedule.find(b.schedule_id),b), :class=>"btn btn-warning" %> <%= link_to "Cancel Booking", tour_schedule_booking_path(t,Schedule.find(b.schedule_id),b), :class=>"btn btn-warning", method: :delete, data: {confirm: "Are you sure you want to cancel this booking?"}%>
                <%= link_to "Review this tour!", new_tour_review_url(t.id), :class=>"btn btn-primary", :id=>"tourindexbut" %>
            </div><!--caption-->
          </div> <!--#thumbnail_tour_index-->
        </div><!--.col-md-3-->

        <% end %>
        <% end %>
        <% end %>
        <% end %>
        <% end %>

      </div><!--.row-->
    </div><!--.col-md-12 user_created_tours-->
  </div><!--.row user_created_tours-->
</div><!--.container-fluid-->
