<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->

<h2>MY TOURS</h2>

<% @tours_created.each do |tour| %>
  <% if current_user.id == tour.user_id %>
    <div class="">
      <%= tour.name %>
      <%= tour.description%>
      <%= link_to "Edit Tours", edit_tour_url(tour.id) %>
    </div>
  <% end %>
<% end %>

<div class="tour">
  <% if @bookings.size > 0 %>
    <h2>Tour I booked</h2>

    <% @tours_booked.each do |t| %>
      <% t.schedules.each do |s| %>
        <% s.bookings.each do |b| %>
          <div class="Booking-info">
            <p> Tour name: <%= link_to t.name,tour_url(t) %> </p>
            <p> Tour description: <%= t.description %> </p>
            <p> Current tour size: <%= Schedule.find(b.schedule_id).current_capacity %></p>
            <p> Tour date and time: <%= Schedule.find(b.schedule_id).tour_session %> </p>
            <p> Date I booked: <%= b.created_at.strftime("%Y %b %d") %></p>
            <p> Number of people I booked for (including myself): <%= b.booking_size %></p>
            <%= link_to "Edit Booking", edit_tour_schedule_booking_path(t,Schedule.find(b.schedule_id),b) %> | <%= link_to "Cancel Booking", tour_schedule_booking_path(t,Schedule.find(b.schedule_id),b), method: :delete, data: {confirm: "Are you sure you want to delete the?"}%>
            <p>-----------------------------------------------------</p>
          </div>
        <% end %>  
      <% end %>
    <% end %>
  <% else %>
    <h2>I have not booked any tour yet, <%= link_to "find a tour now!", "/"%> </h2>

  <% end %>
</div>
