
  <div id="schedule-form">
  <%= form_for ([@tour, @schedule]) do |f| %>

  <% if @schedule.errors.any? %>
    <div id="error_red">
      <h3><%= pluralize(@schedule.errors.count, "error")%> prohibited this schedule from being saved:</h3>

      <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
        <li id="error_red"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<div class="schedules-field">
  <%= f.label :tour_start_time, "Select a date and time:" %>
  <%= f.datetime_select :tour_start_time %>

  <script type="text/javascript">
    $(function () {
        $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: true
          });
        });
  </script>

</div>


  <div class="new-schedule-buttons">
   <%= f.submit "Save Schedule", name: "save_one", :class=>"btn btn-primary" %>
   <%= f.submit "Save and Add Another Date", name: "add_more", :class=>"btn btn-primary" %>
   <%= link_to "Cancel", tour_path(@tour), :class=>"btn btn-primary" %>
  </div>



  <% end %>
  </div>
