<div class="yield">

<%= form_for @tour do |f| %>

<% if @tour.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h3>

      <ul>
        <% @tour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div clas="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field" >
      <%= f.label :country %>
      <%= f.select(:country, options_for_select(Tour::COUNTRIES_AND_CITIES.keys ), :include_blank => "Please select a country") %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.select(:city, options_for_select( Tour::COUNTRIES_AND_CITIES.values ), :include_blank => "Please select a city")%>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>


  <div class="field">
    <%= f.submit %>
  </div>

  <% end %>

</div>
