<%= form_for @tour do |f| %>

<% if @tour.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h3>

      <ul>
        <% @tour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">

    <div class="form-group">
        <%= f.label :category, :class=>"col-sm-1 control-label"  %>
      <div class="col-sm-8">
        <%= f.select :category, options_for_select(Tour.categories.map {|cat,v| [cat,cat]}) %>
      </div>
    </div>

        <br>
        <br>

    <div class="form-group">
      <%= f.label :name, :class=>"col-sm-1 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, :class=>"form-control" %>
      </div>
    </div>


    <div class="field">
      <%= f.label :capacity %>
      <%= f.number_field :capacity %>
    </div>

    <div class="field">
      <%= f.label :duration_in_ms, "Approximate Duration(hrs)" %>
      <%= f.number_field :duration_in_ms %>
    </div>

    <div class="form-group">
      <%= f.label :description, :class=>"col-sm-1 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :description, :class=>"form-control" %>
      </div>
    </div>

    <br>
    <br>

    <div class="form-group">
      <%= f.label :country_id, :class=>"col-sm-1 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :country_id, @countries, :id, :name, include_blank: 'Please select a country', class: "form-control"%>
        </div>
    </div>
    <br>
    <br>
    <div class="form-group">
      <%= f.label :rendezvous_point, :class=>"col-sm-1 control-label"%>
        <div class="col-sm-8">
          <%= f.text_field :rendezvous_point, class:"form-control", id:"rendezvous-point-input" %>
          

        </div>
    </div>




  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Book some dates", name: "add_schedule" %>
      or
      <%= f.submit "Add dates later", name: "no_schedule" %>
        <button><%= link_to 'Cancel', tours_path %></button>
    </div>
  </div>

  <% end %>

</form>
<br>
<br>
<div id="rendezvous-map"> </div>
