
<%= form_for @tour do |f| %>

<% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @tour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <!-- <p>Schedule</p>

  <%= f.fields_for :schedules do |s| %>
    <%= render 'schedule_fields', :f => s %><br>
       <%= render 'schedule_fields', :f => s %><br>
        <%= render 'schedule_fields', :f => s %> 
    <% end %>
 -->


  <div class="field">
    <%= f.submit %>
  </div>

  <% end %>
