<div class="yield">

<h3><%= tour.name %></h3>
<p><%= tour.description %></p>
<p><%= tour.city %>, <%= tour.country %></p>
<p>Starting Address: <%= tour.address %></p>
<p>Category: <%= tour.category %></p>


</div>

