<div class="yield">

<h3><%= tour.name %></h3>
<p><%= tour.description %></p>
<p><%= tour.city %>, <%= tour.country %></p>
<p>Starting Address: <%= tour.rendezvous_point %></p>
<p>Category: <%= tour.category %></p>
<p><%= image_tag @tour.tourpic.url(:thumb), :class=>"tour_pic_tourdetails" %></p>


</div>
