<h2>Tours</h2>

<% @tours.each do |tour| %>

<h3><%= tour.name %></h3>
<p><%= tour.description %></p>
<p><%= tour.city %>, <%= tour.country %></p>
<p>Starting Address: <%= tour.address %></p>
<p>Category: <%= tour.category %></p>
<p>Capacity: <%= tour.capacity %></p>


  <% end %>
