<div class="layout_nav_bar">
</div>

<div class="yield">

<div class="tours_index_search_bar">

<%= form_tag(tours_path, :method => "get", class: "form-horizontal") do %>
<div class="form-group">
    <%= text_field_tag :search, params[:search], placeholder: "   Search Tours", class:"tours_index_actual_bar" %>
    <%= submit_tag "Search Tours", :name => nil, class:"btn btn-success btn-lg"%>
  </div>
<% end %>
<br>
</div>

<h4 class="tours_show_entice">Click <%= link_to "here", new_tour_url %> to create <span class="new">NEW tours</span></h4>
<!-- <p class="btn btn-primary"><span class=""+<p> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <% @tours.each do |tour| %>

        <div class="col-md-4">
          <div class="thumbnail" id="thumbnail_tour_index">
            <div class="index-container-relative">
              <%= image_tag tour.tourpic.url(:medium), :class=>"tour_pic_tourdetails" %>
              <%= image_tag("gradient-01.png", :class=>"grad_img")%>
              <p><%= link_to tour.name, tour_path(tour.id), class:"tour_index_name"%></p>
            <hr/>
              <p class="tour_index_cat"><%= tour.category %></p>
            </div>

            <div class="caption" id="tourindexcaption">

              <p class="tourp"><%= tour.description %></p>
              <!-- <p>city: <%= tour.city %></p> -->
              <p class="tourp">Starting Address: <%= tour.rendezvous_point %></p>


              <% if current_user && current_user.id == tour.user_id %>
              <p>
                <%= link_to "EDIT", tour_path(tour), :class=>"btn btn-success", :id=>"tourindexbut" %>
              </p>

              <% else %>
              <p>
                <%= link_to "VIEW", tour_path(tour), :class=>"btn btn-success", :id=>"tourindexbut" %>
              </p>


              <% end %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
