<div class="yield">
<h2>Tours</h2>

<%= form_tag(tours_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Tours" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% @tours.each do |tour| %>

<h3>
  <%= link_to tour.name, tour_path(tour.id)%>
</h3>
  <p><%= tour.description %></p>
  <p><%= tour.city %>, <%= tour.country %></p>
  <p>Starting Address: <%= tour.rendezvous_point %></p>
  <p>Category: <%= tour.category %></p>


  <% end %>

<%= link_to 'Create a New Tour', new_tour_path %>
</div>
