<h2><%= @tour.name %></h2>

<%= render 'tourdetails', tour: @tour %>

<%= link_to 'Edit this Tour', edit_tour_path(@tour.id) %>
<%= link_to 'Delete this Tour', tour_path(@tour.id), method: :delete %>
<%= link_to 'Back to Tours', tours_path %>

<br>
<br>
<br>
<% @tour.schedules.each do |t_s| %>
<div class="">

  <%= t_s.tour_session %>
  <%= link_to 'Book now!', new_tour_schedule_booking_path(@tour,t_s) %>
</div>
<% end %>
