<div class="layout_nav_bar">
</div>

<div class="yield">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" >
      <div class="row">

        <div class="col-md-1">

        </div>
        <div class="col-md-7">
          <div class="tour-details">

            <h3 class="main-title"> <%= @tour.name %> </h3>

            <div class="col-md-4 tours-icon-div">
              <p><i class="fa fa-globe"></i> <%= @tour.country.name %></p>
              <p class="tour-details-meetup"><i class="fa fa-map-marker"></i> <%= @tour.rendezvous_point %></p>
          </div>
          <div class="col-md-4 tours-icon-div">
            <p id="tour-details-category"> <%= @tour.category %></p>
            <p><i class="fa fa-clock-o"></i> duration</p>
          </div>

          <div class="col-md-4 tours-rating-div">
            <p id="tour-details-rating"> <%= @average_rating %></p>
          </div>
        </div>

          <div id="show-tour-map">


          </div>
          <% unless @tour.reviews.empty? %>
          <div class="reviews">
            <h3 class="reviews-title">Reviews:</h3>
            <% @tour.reviews.each do |r| %>
            <div class="rating-tours">
              <h4 class="reviews-star-ratings"><%= r.rating %></h4>
            </div>
            <h5><%= r.created_at.strftime("%b %d, %Y at %H:%M") %> </h5>
            <p><%= r.comment %><p>
            <% end %>
          </div>
          <% end %>
        </div>



        <div class="col-md-3 side-bar">

          <p class="show_page_tour_image"><%= image_tag @tour.tourpic.url, :class=>"tour_pic_tourdetails" %></p>

          <p class="tour-sidebar-description"><%= @tour.description %></p>


          <h4 class="schedule-title">Available Dates:</h4>

          <p>
            <% if @tour.schedules.empty? %>
            <p>This tour doesn't currently have any dates to be booked! Check back again soon!</p>
            <% else %>
            <% @recent_schedules.each do |t_s| %>
            <p class="">
              <%= "#{t_s.tour_session}, #{t_s.current_capacity} people booked, space left: #{t_s.max_capacity - t_s.current_capacity}" %>
              <% unless (current_user && @tour.user_id == current_user.id) || t_s.tour_start_time < Time.now %>
              <%= link_to 'Book now!', new_tour_schedule_booking_path(@tour,t_s) %>
              <% else  %>
              <%= link_to 'Edit this Schedule', edit_tour_schedule_path(@tour, t_s) %> | <%= link_to 'Cancel this Schedule', tour_schedule_path(@tour, t_s), method: :delete %>
            </p>
            <% end %>
            <% end %>
            <% end %>

            <div class="">
              <% if current_user && @tour.user_id == current_user.id %>
              <%= link_to 'Add more dates', new_tour_schedule_path(@tour), :class=>"btn btn-primary" %>

              <% end %>
              <%= link_to 'See more dates', tours_path, :class=>"btn btn-default" %>

            </div>
          </p>

        </div>
        <div class="col-md-1">

        </div>
      </div>
    </div>
  </div>
</div>


<% if current_user && @tour.user_id == current_user.id %>
<%= link_to 'Edit this Tour | ', edit_tour_path(@tour.id) %>
<%= link_to 'Delete this Tour | ', tour_path(@tour.id), method: :delete %>
<%= link_to "Add new tour point | ", new_tour_tourpoint_path(@tour) %>
<%= link_to "Edit tour point", tour_tourpoints_edit_path(@tour) %>

<% end %>
