<div class="yield">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 tour-full-body" >
      <div class="row">

        <div class="col-md-1">

        </div>
        <div class="col-md-7 tour-left-panel">
          <div class="tour-details">

            <h3 class="main-title"> <%= @tour.name %> </h3>

            <div class="col-md-4 tours-icon-div">
              <p><i class="fa fa-globe"></i> <%= @tour.country.name %></p>
              <p class="tour-details-meetup"><i class="fa fa-map-marker"></i> <%= @tour.rendezvous_point %></p>
          </div>
          <div class="col-md-4 tours-icon-div">
            <p id="tour-details-category"> <%= @tour.category %></p>
            <p><i class="fa fa-clock-o"></i> Duration: <%= "#{@tour.duration_in_ms / 3600000} hours"%></p>
          </div>

          <div class="col-md-4 tours-rating-div">
            <p id="tour-details-rating"> <%= @average_rating %></p>
            <p id="see-schedules-responsive"><% unless @tour.schedules.empty? %>
            <%= link_to 'Book now!', tours_path, :class=>"btn btn-primary tour-show-responsive" %>
            <% end %></p>

            <% if current_user && @tour.user_id == current_user.id %>
            <%= link_to 'Add more dates', new_tour_schedule_path(@tour), :id=>"add-dates-responsive", :class=>"btn btn-primary" %>

            <% end %>
          </div>
        </div>

        <div id="tour-responsive-description">
          <h3 class="tour-description-title">About</h3>
          <p class="tour-guide-name"><b>Guide:</b> <%= @tour_guide.name %></p>
          <%= @tour.description %>
        </div>

          <div id="show-tour-map">


          </div>

        <div class="user-tour-options">

          <% if current_user && @tour.user_id == current_user.id %>
          <%= link_to 'Edit this Tour | ', edit_tour_path(@tour.id) %>
          <%= link_to 'Delete this Tour | ', tour_path(@tour.id), method: :delete %>
          <%= link_to "Add new tour point | ", new_tour_tourpoint_path(@tour) %>
          <%= link_to "Edit tour point", tour_tourpoints_edit_path(@tour) %>

          <% end %>
        </div>

          <% unless @tour.reviews.empty? %>
          <div class="reviews">
            <h3 class="reviews-title">Reviews</h3>
            <% @tour.reviews.each do |r| %>
            <div class="rating-tours">
              <h4 class="reviews-star-ratings"><%= r.rating %></h4>
            </div>
            <h5><%= r.created_at.strftime("%b %d, %Y at %I:%M%P") %> </h5>
            <p><%= r.comment %><p>
            <% end %>
          </div>
          <% end %>
        </div>

        <!---side bar -->

        <div class="col-md-3 side-bar">

          <p class="show_page_tour_image"><%= image_tag @tour.tourpic.url, :class=>"tour_pic_tourdetails" %></p>


          <p class="tour-sidebar-description">
            <b>Guide:</b> <%= @tour_guide.name %><br>
            <%= @tour.description %>
          </p>

        <div class="tour-sidebar-dates">

          <h4 class="schedule-title">Available Dates:</h4>

            <% if @tour.schedules.empty? %>
            <p>This tour doesn't currently have any dates to be booked! Check back again soon!</p>

            <% else %>

            <% @recent_schedules.each do |t_s| %>

            <% unless t_s.tour_start_time < Time.now %>
              <div class="tour-show-one-schedule">

              <div class="tour-show-date">
                <p><i class="fa fa-clock-o"></i> <%= t_s.tour_session %></p>
                <div class="tour-show-spots">
                  <p class="number-spots"><i class="fa fa-child"></i> <%= "#{t_s.max_capacity - t_s.current_capacity} spots left!" %></p>
                </div>
              </div>

              <% if (current_user && @tour.user_id == current_user.id) %>
                  <%= link_to 'Edit this Schedule', edit_tour_schedule_path(@tour, t_s) %> <br><%= link_to 'Cancel this Schedule', tour_schedule_path(@tour, t_s), method: :delete, data: {confirm: "Are you sure you want to cancel this schedule?"} %>

              <% elsif current_user && current_user.booked_schedules_ids.include?(t_s.id) %>
                <span class="booking-button-schedules btn">Booked!</span>

              <% else %>



                <%= link_to 'Book now!', new_tour_schedule_booking_path(@tour,t_s), :class=>"booking-button-schedueles btn", :id=>"s#{t_s.id}" %>
              </span>
            </div>


              <!-- <% unless (current_user && @tour.user_id == current_user.id) || t_s.tour_start_time < Time.now %>

                    <% if current_user && current_user.booked_schedules_ids.include?(t_s.id) %>
                      <span class="booked-button">
                        <%= "Booked!" %>
                      </span>
                    <% else %>
                      <span class="booking-button" id="s<%= t_s.id %>">


                        <%= link_to 'Book now!', new_tour_schedule_booking_path(@tour,t_s), :class=>"booking-button-schedueles btn", :id=>"s#{t_s.id}" %>
                      </span>
                    <% end %>

              <% else  %>
                <%= link_to 'Edit this Schedule', edit_tour_schedule_path(@tour, t_s) %> <br><%= link_to 'Cancel this Schedule', tour_schedule_path(@tour, t_s), method: :delete, data: {confirm: "Are you sure you want to cancel this schedule?"} %> -->
                <% end %>
                <% end %>
              <% end %>

          <!-- Booking form modal -->
          <div class="booking-modal-window">
            <div class="booking-modal-form">
              How many people are taking this tour?

              <%= render 'booking_form', tour: @tour, schedule: t_s, booking: @booking %>

            </div>
          </div>

          <% end %>

          <% end %>
              <% if current_user && @tour.user_id == current_user.id %>
              <%= link_to 'Add more dates', new_tour_schedule_path(@tour), :class=>"btn btn-primary" %>

              <% end %>

              <% unless @tour.schedules.empty? %>
              <div class="tour-show-all-container">
                <%= link_to 'See more dates', tours_path, :class=>"btn tour-show-all" %>
              </div>
              <% end %>



            </div>
        </div>
        <div class="col-md-1">
        </div>



        <!-- schedules modal -->

        <div class="schedules-modal-window">

          <div class="schedules-modal">
            <% @tour.schedules.each do |schedule| %>
            <% unless schedule.tour_start_time < Time.now %>
            <div class="modal-tour-show-one-schedule">

            <div class="modal-tour-show-date">
              <p><i class="fa fa-clock-o"></i> <%= schedule.tour_session %>
              </p>
            <div class="modal-tour-show-spots">
              <p class="number-spots"><i class="fa fa-child"></i> <%= "#{schedule.max_capacity - schedule.current_capacity} spots left!" %></p>
            </div>
          </div>
          <% unless (current_user && @tour.user_id == current_user.id) && schedule.tour_start_time < Time.now %>

              <% if current_user && current_user.booked_schedules_ids.include?(schedule.id) %>

                <span class="booked-button-modal">
                  <%= "Booked!" %>
                </span>
              <% else %>

                <span class="booking-button-modal">
                  <%= link_to 'Book now!', new_tour_schedule_booking_path(@tour,schedule), :class=>"btn btn-primary", :id=>"bt#{schedule.id}" %>
                </span>
              <% end %>


              <% else  %>
              <%= link_to 'Edit this Schedule', edit_tour_schedule_path(@tour, schedule) %> <br>
              <% if schedule.bookings.empty? %>
              <%= link_to 'Cancel this Schedule', tour_schedule_path(@tour, schedule), method: :delete, data: {confirm: "Are you sure you want to cancel this schedule?"} %>
            <% end %>
            <% end %>
          </div>
            <% end %>
            <% end %>

              <% if current_user && @tour.user_id == current_user.id %>
              <%= link_to 'Add more dates', new_tour_schedule_path(@tour), :class=>"btn btn-primary" %>

              <% end %>
          </div>
        </div>

          <!-- responsive schedules modal -->

        <div class="schedules-modal-window-responsive">

          <div class="schedules-modal-responsive">
            <% @tour.schedules.each do |schedule| %>
            <% unless schedule.tour_start_time < Time.now %>
            <div class="modal-tour-show-one-schedule">

            <div class="modal-tour-show-date">
              <p><i class="fa fa-clock-o"></i> <%= schedule.tour_session %>
              </p>
            <div class="modal-tour-show-spots">
              <p class="number-spots"><i class="fa fa-child"></i> <%= "#{schedule.max_capacity - schedule.current_capacity} spots left!" %></p>
            </div>
          </div>
          <% unless (current_user && @tour.user_id == current_user.id) %>
              <span class="booking-button-responsive"><%= link_to 'Book now!', new_tour_schedule_booking_path(@tour,schedule), :class=>"btn" %></span>



              <% else  %>
              <%= link_to 'Edit this Schedule', edit_tour_schedule_path(@tour, schedule) %> <br>
              <% if schedule.bookings.empty? %>
              <%= link_to 'Cancel this Schedule', tour_schedule_path(@tour, schedule), method: :delete, data: {confirm: "Are you sure you want to cancel this schedule?"} %>
            <% end %>
            <% end %>
          </div>
            <% end %>
            <% end %>
              <% if current_user && @tour.user_id == current_user.id %>
              <%= link_to 'Add more dates', new_tour_schedule_path(@tour), :class=>"btn btn-primary" %>

              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
