<!-- landing page -->
<div class="nav_bar">
</div>

<%= image_tag("top.jpg", :class=>"map_img")%>

<div class="logo_container">
  <div class="container">
    <%=link_to "View all tours", tours_path, :id=>"mobile_view_tab" %><i class="fa fa-map-marker fa-5x mobile_pin_map"></i>
    <p class="logo"><span class="red_logo">Rendez</span>YOU</p>
    <p class="tag_line"><%=link_to "CLICK • CONNECT • EXPLORE", tours_path %></p>
  </div>
</div>

<!-- setup -->

<div class="set_up" id="oneliner">
  <div class="oneliner">Setting up is as easy as one two three</div>
<div>

<!-- <div class="set_up">
  <div class="oneliner">Setting up <span class="a_nav_logo small_logo">RendezYOU</span><br>is as easy as one two three</div>
<div> -->

<div class="one_two_three">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 container_one_two_three">
          <%= image_tag("show_page_icon-01.png", :class=>"show_page_icon")%>
          <h2 class="cabin_sketch">
            <span class="red">1.</span> Sign Up
          </h2>
          <div class="show_page_three_two_one">
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          </div>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md-4 container_one_two_three">
          <%= image_tag("show_page_icon-03.png", :class=>"show_page_icon")%>
          <h2 class="cabin_sketch">
            <span class="red">2.</span> Browse
          </h2>
          <div class="show_page_three_two_one">
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          </div>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md-4 container_one_two_three">
          <%= image_tag("show_page_icon-02.png", :class=>"show_page_icon")%>
          <h2 class="cabin_sketch">
            <span class="red">3.</span> Connect
          </h2>
          <div class="show_page_three_two_one">
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          </div>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="main_footer">
  <p>&copy Rendezyou 2017</p>
</div>
