<%= form_for ([@tour, @review]) do |f| %>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h3>

    <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="star-rating">
  <p>How would you rate your tour overall:</p>
  <%= f.radio_button :rating, 1 %>
  <%= f.label :rating, value: 1 do  %>
    <i class="fa fa-star-o fa-3x"></i>
    <% end %>
  <%= f.radio_button :rating, 2 %>
  <%= f.label :rating, value: 2 do  %>
    <i class="fa fa-star-o fa-3x"></i>
    <% end %>
  <%= f.radio_button :rating, 3 %>
  <%= f.label :rating, value: 3 do  %>
    <i class="fa fa-star-o fa-3x"></i>
    <% end %>
  <%= f.radio_button :rating, 4 %>
  <%= f.label :rating, value: 4 do  %>
    <i class="fa fa-star-o fa-3x"></i>
    <% end %>
  <%= f.radio_button :rating, 5 %>
  <%= f.label :rating, value: 5 do  %>
    <i class="fa fa-star-o fa-3x"></i>
    <% end %>
</div>

<div class="field">
  <%= f.label :comment, "Tell us more:" %>
  <%= f.text_area :comment %>
</div>

<div class="submit">
  <%= f.submit %>
</div>

<% end %>
