


<div class="yield">
</div>

<h4 class="create_a_tour_now">Please click one marker to edit <span class="a_nav_logo small_logo">RendezYOU</span> tour point.</h4>

<div class="container-fluid tour_point_form_scale">
  <div class="row">

    <div class="col-md-6">
      <div id="edit-tourpoints-map"></div>
    </div>

    <div class="form col-md-6" id="tourpoint_edit" tour_id="<%= @tour.id %>" >

      <%= form_for [@tour,@tourpoint],method:"PATCH", html:{multipart: true, id:"edit-tour-point-form", tour_id:@tour.id} do |f| %>

      <% if @tourpoint.errors.any? %>
      <div class="error_explanation">
        <h3><%= pluralize(@tourpoint.errors.count, "error") %> prohibited this tour from being saved:</h3>

        <ul>
          <% @tourpoint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :tour_point_name %>
        <%= f.text_field :tour_point_name, :class=>"form-control",:id =>"edit_tourpoint_tour_point_name" %>
      </div>

      <div class="form-group">
        <% f.label :tour_point_laglng %>
        <%= f.hidden_field :tour_point_laglng, :class=>"form-control",:id =>"edit_tourpoint_tour_point_laglng" %>
      </div>

      <div class="form-group">
        <%= f.label :tour_point_description %>
        <%= f.text_area :tour_point_description, :class=>"form-control",:id =>"edit_tourpoint_tour_point_description" %>
      </div>

      <div class="form-group">
        <%= f.label :tour_point_img,"Tour point image" %>
        <%= f.file_field :avatar, :class=>"form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save this tour point", :class=>"btn btn-primary", :id=>"edit-button",:clicked => false %>
          <p class="tour-or"></p>
        <%= link_to 'Cancel', tour_path(@tour), :class=>"btn btn-default" %>
      </div>

      <% end %>

  </div>
</div>
