<!DOCTYPE html>
<html>
  <head>
    <title>Rendezyou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <% if flash[:notice]%>
      <p id="notice"><%=flash[:notice] %></p>
    <%end%>
    <% if flash[:alert]%>
      <p id="alert"><%=flash[:alert] %></p>
    <%end%>



      <p class="userinfo">
        <%if current_user %>
          Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), method: :delete %>
        <%else%>
          <%= link_to "Log in", new_session_path %> or <%=link_to "Sign Up", new_user_path %>
        <%end%>
      </p>
      <%= yield %>
  </body>
</html>
