<html>

<head>
  <!DOCTYPE html>
  <title>Rendezyou</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Pacifico|Copse|Cabin|Bitter|Oswald|Grand+Hotel|Harmattan|Niconne|Open+Sans:700|Shanti|Yrsa|Raleway|Crimson+Text" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCGaxhVo8MuhbWtVWcKcAf-PEBJXjXtzA&v=3">
  </script>

</head>

<body>
  <header>
    <!-- Nav Bar -->

    <div class="navigate">
      <div class="nav_bar">
        <div class="nav_home">
          <%= link_to "RendezYou", root_path, :class=>"a_nav_home" %>
        </div>

        <% if current_user %>
        <div class="nav_drop">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tours <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Search All Tours", tours_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Your Created Tours", profile_path(anchor: "sub_heading_guide_all") %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Create a New Tour", new_tour_path %></li>
            </ul>
          </li>
        </div>

        <div class="nav_drop_b">
          <li class="dropdown-toggle"><%= link_to "About Us", profile_path %></li>
          </li>
        </div>

        <div class="nav_drop_c">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
          </li>
        </div>

        <div class="nav_right_float">
          <%= image_tag current_user.avatar.url(:thumb), :class=>"pro_pic_nav" %>
          <i class="fa fa-cog" aria-hidden="true" id="i"></i>
          <%= link_to current_user.name.capitalize, profile_path(anchor: "sub_heading_guide_all"), :class=>"a_myprofile" %>
          <%= link_to "Log Out", session_path("current"), :method => :delete, :class=>"a_logout" %>
        </div>

        <% else %>
        <div class="nav_right_float">
          <button type="button" class="a_login">Log In</button>
          or <%=link_to "Sign Up", new_user_path, :class=>"a_signup" %>
        </div>
        <% end %>

      </div>
    </div>

    <!-- Login Modal -->

    <div class="login_window">
      <%= form_tag sessions_path, {:class => "login_form"} do %>

      <div class="form-horiztonal">
        <div class="col-md-12">

          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email], class:"form-control", id:"inputEmail3" %>

          </div>

          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, [:password], class: "form-control", id:"inputPassword3"  %>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" /> Remember Me
            </label>
          </div>

          <div class="form-group">
            <%= submit_tag "Log in", class: "btn btn-primary", id: "login_modal_button"%>
          </div>

        </div>
      </div>
      <% end %>

      <% if flash[:notice] %>
      <p id="notice"><%=flash[:notice] %></p>
      <%end%>
      <% if flash[:alert] %>
      <p id="alert"><%=flash[:alert] %></p>
      <%end%>
    </div>


    <!-- signup page -->

    <div class="signup_window">
      <%=form_for new_user_path, {:class => "signup_form"} do |f| %>

      <div class="main_form">

        <div class="user_left">
          <div class="form-group has-success has-feedback">
            <%= f.label :name, class:"control-label col-sm-3"%>
            <div class="col-sm-8">
              <%= f.text_field :name, class:"form-control", id:"inputSuccess3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :username, class:"control-label col-sm-3"%>
            <div class="col-sm-8">
              <%= f.text_field :username, class:"form-control", id:"inputSuccess3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :email, class:"control-label col-sm-3"%>
            <div class="col-sm-8">
              <%= f.text_field :email, class: "form-control", id:"inputEmail3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :phone, class:"control-label col-sm-3" %>
            <div class="col-sm-8">
              <%= f.telephone_field :phone, class:"form-control", id:"inputSuccess3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :password, class:"control-label col-sm-3" %>
            <div class="col-sm-8">
              <%= f.password_field :password, class:"form-control", id:"inputEmail3"%>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :password_confirmation, class:"control-label col-sm-3" %>
            <div class="col-sm-8">
              <%= f.password_field :password_confirmation, class:"form-control", id:"inputEmail3"%>
            </div>
          </div>
          <br>
          <br>
          <%= f.submit 'I\'m ready', :class=>"btn btn-primary btn-lg active" %>
        </div>

        <div class="user_right">
          <%= f.text_field :picture, class:"picture-frame"%>
          <%= f.label :picture%>
          <input type="file" id="exampleInputFile" />
        </div>
      </div>

      <%end%>

    </div>

  </div>

</header>

<%= yield %>

</body>
</html>
