<html>

<head>
  <!DOCTYPE html>
  <title>Rendezyou</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Pacifico|Copse|Cabin|Bitter|Oswald|Grand+Hotel|Harmattan|Niconne|Open+Sans:700|Shanti|Yrsa|Raleway|Crimson+Text|Abel|Nunito" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCGaxhVo8MuhbWtVWcKcAf-PEBJXjXtzA&v=3"></script>

</head>

<body>
  <header>
    <!-- Nav Bar -->

    <div class="navigate">
      <div class="nav_bar">
        <li><%= link_to "RendezYOU", root_path, :class=>"a_nav_logo", :id=>"main_nav_logo" %></li>

        <li class="dropdown nav_item_margin">
          <a href="#" class="dropdown-toggle nav_items nav_one" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tours <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Search Tours", tours_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Create Tour", new_tour_path %></li>
          </ul>
        </li>

        <li class="nav_item_margin nav_three"><%= link_to "Adventure Awaits", profile_path, :class=>"nav_items" %></li>


        <li class="dropdown-toggle nav_item_margin nav_two"><%= link_to "About Us", root_path(anchor:"oneliner"), :class=>"nav_items" %></li>


        <% if current_user %>

          <li class="dropdown nav_item_margin nav_four">
            <%=image_tag current_user.avatar.url(:thumb), :class=>"pro_pic_nav" %>
            <a href="#" class="dropdown-toggle nav_items a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name.capitalize %><span class="caret"></span></a>
            <ul class="dropdown-menu nav_item_margin">
              <li><%= link_to "My User Page", profile_path(anchor: "sub_heading_guide_all") %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
            </ul>
          </li>

          <li class="dropdown-toggle nav_item_margin nav_five"><%= link_to "Log Out", session_path("current"), :method => :delete, :class=>"nav_items logout" %></li>

          <li class="dropdown nav_item_margin nav_six">
            <%=image_tag current_user.avatar.url(:thumb), :class=>"pro_pic_nav", :id=>"pro_pic_nav_six" %>
            <a href="#" class="dropdown-toggle nav_items" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-3x"></i></a>
            <ul class="dropdown-menu nav_item_margin signedin">
              <li><%= link_to "Search Tours", tours_path %></li>
                <li role="separator" class="divider"></li>
              <li><%= link_to "Create Tour", new_tour_path %></li>
                <li role="separator" class="divider"></li>
              <li><%= link_to "My User Page", profile_path(anchor: "sub_heading_guide_all") %></li>
                <li role="separator" class="divider"></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
                <li role="separator" class="divider"></li>
              <li><%= link_to "About Us", root_path(anchor:"oneliner")%></li>
                <li role="separator" class="divider"></li>
              <li><%= link_to "Log Out", session_path("current"), :method => :delete %></li>
            </ul>
          </li>

        <% else %>

          <li class="dropdown-toggle nav_item_margin nav_seven"><%=link_to "Log In", new_session_path, :class=>"a_login nav_items"%><span class="or_font" >or</span></li>
          <li class="dropdown-toggle nav_item_margin nav_eight"><%=link_to "Sign Up", new_user_path, :class=>"a_signup nav_items" %></li>

          <li class="dropdown nav_item_margin nav_nine">
            <a href="#" class="dropdown-toggle nav_items" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-3x"></i></a>
            <ul class="dropdown-menu nav_item_margin">
              <li><%=link_to "Log In", new_session_path, :class=>"a_login"%></li>
                <li role="separator" class="divider"></li>
              <li><%=link_to "Sign Up", new_user_path, :class=>"a_signup" %></li>
            </ul>
          </li>

        <% end %>

      </div>
    </div>

    <% if flash[:notice] %>
    <p id="notice"><%=flash[:notice] %></p>
    <%end%>
    <% if flash[:alert] %>
    <p id="alert"><%=flash[:alert] %></p>
    <%end%>

    <!-- Login Modal -->

    <div class="login_window">
      <%= form_tag sessions_path, {:class => "login_form"} do %>

      <div class="form-horiztonal">
        <div class="col-md-12">

          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email], class:"form-control", id:"inputEmail3" %>

          </div>

          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, [:password], class: "form-control", id:"inputPassword3"  %>
          </div>

          <div class="form-group">
            <label class="opacity_zero">
              <input type="checkbox" /> Remember Me
            </label>
          </div>

          <div class="form-group">
            <%= submit_tag "Log in", class: "btn btn-primary", id: "login_modal_button"%>
          </div>

        </div>
      </div>
      <% end %>


    </div>


    <!-- signup page -->

    <div class="signup_window">
      <%=form_for new_user_path, {:class => "signup_form"} do |f| %>

      <div class="main_form">

        <div class="user_left">
          <div class="form-group has-success has-feedback">
            <%= f.label :name, class:"control-label col-sm-3"%>
            <div class="col-sm-8">
              <%= f.text_field :name, class:"form-control", id:"inputSuccess3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :username, class:"control-label col-sm-3"%>
            <div class="col-sm-8">
              <%= f.text_field :username, class:"form-control", id:"inputSuccess3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :email, class:"control-label col-sm-3"%>
            <div class="col-sm-8">
              <%= f.text_field :email, class: "form-control", id:"inputEmail3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :phone, class:"control-label col-sm-3" %>
            <div class="col-sm-8">
              <%= f.telephone_field :phone, class:"form-control", id:"inputSuccess3"%>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess3Status" class="sr-only"></span>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :password, class:"control-label col-sm-3" %>
            <div class="col-sm-8">
              <%= f.password_field :password, class:"form-control", id:"inputEmail3"%>
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <%= f.label :password_confirmation, class:"control-label col-sm-3" %>
            <div class="col-sm-8">
              <%= f.password_field :password_confirmation, class:"form-control", id:"inputEmail3"%>
            </div>
          </div>
          <br>
          <br>
          <%= f.submit 'I\'m ready', :class=>"btn btn-primary btn-lg active" %>
        </div>

        <div class="user_right">
          <%= f.text_field :picture, class:"picture-frame"%>
          <%= f.label :picture%>
          <input type="file" id="exampleInputFile" />
        </div>
      </div>

      <%end%>

    </div>

  </div>

</header>

<%= yield %>

</body>
</html>
