<!DOCTYPE html>
<html>
  <head>
    <title>Rendezyou</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Pacifico|Oswald|Yrsa" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCGaxhVo8MuhbWtVWcKcAf-PEBJXjXtzA&v=3&callback=initMap">
    </script>

  </head>

  <body>
    <header>

      <div class="navigate">
        <div class="nav_bar">
          <div class="nav_home">
            <%= link_to "RendezYou Home", root_path, :class=>"a_nav_home" %>
          </div>
          <% if current_user %>
            <div class="nav_current_user">
              <%= link_to "My Profile", profile_path, :class=>"a_myprofile" %>
              <%= link_to "Log Out", session_path("current"), :method => :delete, :class=>"a_logout" %>
            </div>
          <% else %>
            <div class="nav_not_current_user">
              <button type="button" class="a_login">Log In</button>
              or <%=link_to "Sign Up", new_user_path, :class=>"a_signup" %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Login Modal -->

      <div class="login_window">
        <%= form_tag sessions_path, {:class => "login_form"} do %>

        <div class="form-horiztonal">
          <div class="col-md-12">

            <div class="form-group">
              <%= label_tag :email %>
              <%= text_field_tag :email, params[:email], class:"form-control", id:"inputEmail3" %>
            </div>

            <div class="form-group">
              <%= label_tag :password %>
              <%= password_field_tag :password, [:password], class: "form-control", id:"inputPassword3"  %>
            </div>

            <div class="form-group">
              <label>
                <input type="checkbox" /> Remember Me
              </label>
            </div>

            <div class="form-group">
                <%= submit_tag "Log in", class: "btn btn-primary"%>
            </div>

          </div>
        </div>

        <% end %>
      </div>

      <% if flash[:notice] %>
      <p id="notice"><%=flash[:notice] %></p>
      <%end%>
      <% if flash[:alert] %>
      <p id="alert"><%=flash[:alert] %></p>
      <%end%>

    </header>

    <%= yield %>

  </body>
</html>
